<a class="btn btn-primary" role="button" href={% url 'show_Proj' %}>Выбор проекта</a>
<a class="btn btn-primary" role="button" href={% url 'show_Item' %}>Детали</a>
<a class="btn btn-primary" role="button" href={% url 'show_TU' %}>ТУ и ГОСТЫ</a>
<a class="btn btn-primary" role="button" href={% url 'show_Type' %}>Типы деталей</a>
<a class="btn btn-primary" role="button" href={% url 'zavod' %}>Предприятия</a>
<!-- <a class="btn btn-primary" role="button" href={% url 'show_SQL' %}>SQL drop table</a> -->
